In [5]:
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine

In [7]:
Base = declarative_base()
 
class PuttData(Base):
    __tablename__ = 'PuttDataTbl'
    # Here we define columns for the table person
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    Skill = Column(String(250), nullable=False)
    Length = Column(Integer, nullable=False)
    UpPercent = Column(Integer, nullable=False)
    Slope = Column(String(250), nullable=False)
    One = Column(Integer, nullable=False)
    Two = Column(Integer, nullable=False)     
    Three = Column(Integer, nullable=False)
    Four = Column(Integer, nullable=False)    
        
# Create an engine that stores data in the local directory's
# sqlalchemy_example.db file.
engine = create_engine('sqlite:///mydatabase.db')
 
# Create all tables in the engine. This is equivalent to "Create Table"
# statements in raw SQL.
Base.metadata.create_all(engine)

In [44]:
DBSession = sessionmaker(bind=engine)
# A DBSession() instance establishes all conversations with the database
# and represents a "staging zone" for all the objects loaded into the
# database session object. Any change made against the objects in the
# session won't be persisted into the database until you call
# session.commit(). If you're not happy about the changes, you can
# revert all of them back to the last commit by calling
# session.rollback()
session = DBSession()

In [45]:
# lets read the table now
import pandas as pd

df = pd.read_excel("PuttAppData.xls")

In [46]:
df.head(5)

  Skill  Length  UpPercent   Slope     1      2      3      4
0  Good       3        -10     Low  82.0  120.0  155.0  200.0
1  Good       3        -10  Medium  78.0  115.0  148.0  214.0
2  Good       3        -10    High  75.0  110.0  142.0  205.0
3  Good       3         -5     Low  86.0  126.0  162.0  235.0
4  Good       3         -5  Medium  83.0  121.0  156.0  226.0

In [47]:
df.iloc[0,:]

Skill        Good
Length          3
UpPercent     -10
Slope         Low
1              82
2             120
3             155
4             200
Name: 0, dtype: object

In [48]:
df.iloc[0,:]['Skill']

'Good'

In [49]:
df.shape[0]

882

In [51]:
for row in range(df.shape[0]):
    
    new_putt = PuttData(Skill = df.iloc[row,:]['Skill'],
                        Length = int(df.iloc[row,:]['Length']),
                        UpPercent = int(df.iloc[row,:]['UpPercent']),
                        Slope = df.iloc[row,:]['Slope'],
                        One = int(df.iloc[row,:][1]),
                        Two = int(df.iloc[row,:][2]),
                        Three = int(df.iloc[row,:][3]),
                        Four = int(df.iloc[row,:][4])
                        )

    session.add(new_putt)
    session.commit()

In [ ]:
dfTest = pd.rea